<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href='<%= htmlWebpackPlugin.options.basePath + "css/common.css"%>' />
    <% for (index in htmlWebpackPlugin.files.css) { %>
        <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[index] %>" />
    <% } %>
</head>
<body>
<div id="root">
    <div class="pre-loader"></div>
</div>
<% for (index in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[index] %>"></script>
<% } %>
</body>
</html>
